.input-slider {
    height: 4px;
    background-color: rgba($shadow, 0.36);
    margin-left: 21px;
    margin-right: 21px;

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        width: 14px;
        height: 14px;
        border-radius: 100%;
        border: 3px solid $pesto;
        transform: translateY(-50%);
        box-sizing: border-box;
        background-color: $codGray;
    }

    &::before {
        left: -14px;
    }

    &::after {
        left: 100%;
    }

    .noUi-connects {
        height: 4px;
    }

    .noUi-connect,
    .noUi-origin {
        will-change: transform;
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        -ms-transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
        -webkit-transform-style: preserve-3d;
        transform-origin: 0 0;
        transform-style: flat;
    }

    .noUi-connect {
        background-color: $pesto;
    }

    .noUi-handle {
        position: absolute;
        background-color: $codGray;
        border: 3px solid $pesto;
        border-radius: 100%;
        height: 42px;
        width: 42px;
        top: -20px;
        right: -21px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $century;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 140%;
        color: $white;
        cursor: grab;
        outline: none;
    }

    .noUi-tooltip {
        pointer-events: none;
    }

    &.isLaptop {
        margin-left: 14px;
        margin-right: 14px;
    }

    &.isDesctop {
        margin-left: vw(14px);
        margin-right: vw(14px);

        &::before,
        &::after {
            width: vw(14px);
            height: vw(14px);
            border: vw(3px) solid $pesto;
        }
        
        &::before {
            left: vw(-14px);
        }
        
        .noUi-connects {
            height: vw(4px);
        }
        
        .noUi-handle {
            border: vw(3px) solid $pesto;
            height: vw(42px);
            width: vw(42px);
            top: vw(-20px);
            right: vw(-21px);
            font-size: vw(20px);
        }
    }
}