// Colors
$white: #fff;
$black: #000;
$shadow: #85754E;
$costaDelSol: #64552F;
$pesto: #756130;
$mineShaft:#212121;
$roofTerracotta: #B1221C;
$darkTan: #671511;
$dustyGray: #9B9A9A;
$moonMist: #DED7C7;
$codGray: #181818;
$mineShaft: #373737;
$mineShaft2: #262626;
$alabaster: #F9F9F9;
$codGray: #090909;
$birch: #373122;
$mercury: #E4E4E4;
$codGray: #121212;
$goldBorderRoundedHoverGradient: radial-gradient(21% 107.86% at 100% -7.86%, #FFFFFF 0%, rgba(255, 255, 255, 0.782584) 31.12%, rgba(237, 188, 69, 0) 100%), linear-gradient(278.39deg, #957E47 -16.71%, #8E7434 6.59%, #CAA54A 15.01%, #8D753A 26.21%, #8D753A 60.97%, #C3A355 73.11%, #8E7434 83.67%, #756130 100%);
$goldFillCircleGradient: linear-gradient(301.49deg, #957E47 -50.44%, #8E7434 -28.03%, #E6C269 -14.36%, #8D753A 4.93%, #8D753A 15.32%, #C3A355 22.54%, #8E7434 41.07%, #8D753A 62.9%, #E0C27A 75.72%, #8E7434 90.04%, #756130 120.12%);
$goldFillCircleHoverGradient: linear-gradient(301.49deg, rgba(149, 126, 71, 0.7) -50.44%, rgba(142, 116, 52, 0.7) -28.03%, rgba(230, 194, 105, 0.7) -14.36%, rgba(141, 117, 58, 0.7) 4.93%, rgba(141, 117, 58, 0.7) 15.32%, rgba(195, 163, 85, 0.7) 22.54%, rgba(142, 116, 52, 0.7) 41.07%, rgba(141, 117, 58, 0.7) 62.9%, rgba(224, 194, 122, 0.7) 75.72%, rgba(142, 116, 52, 0.7) 90.04%, rgba(117, 97, 48, 0.7) 120.12%), $white;

// Font Family
$century: "Mulish";
$din: "Roboto", sans-serif;

// Transition
$ease05: .5s ease;
$ease035: .35s ease;
