section.section.where-to-buy#link5(style={'background-image': 'url(img/section/6.png)'})
    +container
        .where-to-buy__content 
            h2.title.where-to-buy__title(:class='{isDesctop, isTablet, isLaptop}') Где купить
            +where-to-buy-slider(arrayWhereBuySlides)(data-count-slides="6" data-dots="true").where-to-buy__slider