section.section.section--white.answers-to-questions#link3
    +container
        h2.title.title--black.answers-to-questions__title(:class='{isDesctop, isTablet, isLaptop}') Ответы на частые вопросы
        each question in arrayQuestions
            app-accordion(title=question.title, description=question.description, :resize-class="{isDesctop, isTablet, isLaptop}").answers-to-questions__accordion