.calculator {
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;

    &.isDesctop {
        padding-bottom: vw(243px);
    }

    &__decoration {
        position: absolute;
        mix-blend-mode: lighten;

        &--top {
            top: 0;
            left: 0;
            max-width: 342px; 

            &.isLaptop {
                max-width: 342px; 
            }

            &.isDesctop {
                max-width: unset;
                top: vw(-175px);
                left: 0;
            }
        }

        &--bottom {
            bottom: 0;
            right: 0;
            max-width: 342px;

            &.isLaptop {
                max-width: unset;
                bottom: -475px;
            }
            
            &.isDesctop {
                max-width: unset;
                bottom: vw(-475px);
            }
        }
    }

    &__content {
        display: grid;
        grid-template-columns: 1fr;
        

        &.isDesctop,
        &.isLaptop {
            grid-template-areas: 'calculator-title calculator-title' 'calculator-left calculator-right';
        }

        &.isLaptop {
            grid-template-columns: 400px auto;
            grid-gap: 0 90px;
        }

        &.isDesctop {
            grid-template-columns: vw(500px) auto;
            grid-gap: 0 vw(90px);
        }
    }

    &__title {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        max-width: 650px;

        &.isDesctop,
        &.isLaptop {
            grid-area: calculator-title;
        }

        &.isLaptop {
            margin-bottom: 100px;
        }

        &.isDesctop {
            max-width: vw(650px);
            margin-bottom: vw(100px);
        }
    }

    &__left {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
        min-width: 0;

        &.isDesctop,
        &.isLaptop {
            grid-area: calculator-left;
            align-items: flex-start;
            margin-bottom: 0;
        }
    }

    &__row {
        display: flex;
        align-items: center;
        margin-bottom: 5px;

        &.isDesctop {
            margin-bottom: vw(5px);
        }
    }

    &__btn {
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }

        &.isLaptop {
            margin-right: 23px;

            &:last-child {
                margin-right: 0;
            }
        }

        &.isDesctop {
            margin-right: vw(23px);
        
            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__column-row {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        width: 100%;

        &:last-child {
            margin-bottom: 0;
        }

        &.isLaptop {
            margin-bottom: 45px;
        }

        &.isDesctop {
            margin-bottom: vw(45px);
        
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__info-text {
        font-family: $din;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 120%;
        text-align: center;
        color: $dustyGray;
        margin-bottom: 20px;

        &.isDesctop,
        &.isLaptop {
            text-align: left;
        }

        &.isDesctop {
            margin-bottom: vw(100px);
        }
    }

    &__list {
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    &__checkbox {
        margin-right: auto;

        &:last-child {
            margin-right: 0;
        }
    }

    &__result {
        width: 100%;
        background-image: linear-gradient(246.06deg, rgba($mineShaft, .3) 6.72%, rgba($mineShaft2, .3) 66.64%);
        border: 5px solid rgba($pesto, .3);
        border-radius: 20px;
        padding: 40px 48px;
        color: $white;

        &.isTablet {
            margin-top: 30px;
        }

        &.isDesctop {
            border: vw(5px) solid rgba($pesto, .3);
            border-radius: vw(20px);
            padding: vw(30px);
            margin-top: vw(30px);
        }

        &-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: $din;
            font-style: normal;
            font-weight: 400;
        }

        &-title {
            font-family: $din;
            line-height: 120%;
            font-size: 20px;
            line-height: 120%;
            text-align: center;
            color: $dustyGray;
            margin-bottom: 20px;

            &.isLaptop {
                font-size: 25px;
                margin-bottom: 10px;
            }

            &.isDesctop {
                font-size: vw(25px);
                margin-bottom: vw(10px);
            }
        }

        &-row {
            display: flex;
            align-items: baseline;
            color: $alabaster;
        }

        &-weight {
            font-size: 40px;
            text-transform: uppercase;
            margin-right: 10px;

            &.isDesctop {
                font-size: vw(40);
                margin-right: vw(10px);
            }
        }

        &-text {
            font-size: 25px;

            &.isDesctop {
                font-size: vw(25px);
            }
        }
    }

    &__right {
        min-width: 0;
        &.isDesctop,
        &.isLaptop {
            grid-area: calculator-right;
        }
    }

    &__box {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 20px;
        border: 5px solid $pesto;
        padding: 20px;
        color: $white;

        &.isLaptop {
            padding: 45px 40px;
        }
        
        &.isDesctop {
            padding: vw(45px) vw(40px);
            border-radius: vw(20px);
            border: vw(5px) solid $pesto;
        }

        &-content {
            display: flex;
            flex-direction: column;
        }

        &-title {
            color: #fff;
            margin-bottom: 10px;

            &.isLaptop {
                margin-bottom: 30px;
            }
            
            &.isDesctop {
                margin-bottom: vw(30px);
            }
        }

        &-description {
            font-family: $century;
            font-size: 16px;
            line-height: 140%;
            margin-bottom: 40px;

            &.isLaptop {
                font-size: 18px;
                margin-bottom: 30px;
            }
            
            &.isDesctop {
                font-size: vw(18px);
                margin-bottom: vw(30px);
            }
        }
    }

    &__block {
        border-radius: 20px;
        padding: 20px;
        color: $white;
        // background-color: rgba($black, 0.1);
        
        // @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        //     backdrop-filter: blur(#{vw(10px)});
        //     -webkit-backdrop-filter: blur(#{vw(10px)});
        // }

        &.isTablet {
            border-radius: 20px;
            padding: 20px 25px;
        }

        &.isDesctop {
            border-radius: vw(20px);
            padding: vw(10px) vw(25px) vw(20px);
        }

        &-content {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, auto);
            align-content: start;
            grid-template-areas: 'box-title' 'box-subtitle' 'box-food';

            &.isLaptop,
            &.isDesctop {
                
                grid-template-areas: 'box-food box-title' 'box-food box-subtitle' 'box-food null' 'box-food box-dish';

            }

            &.isLaptop {
                grid-template-columns: .9fr 1fr;
                grid-gap: 0 10px;
            }

            &.isDesctop {
                grid-template-columns: 1fr vw(250px);
                grid-gap: 0 vw(10px);
            }
        }

        &-food {
            grid-area: box-food;
            max-width: 130px;
            margin-left: auto;
            margin-right: auto;

            &.isTablet {
                max-width: 60%;
            }

            &.isLaptop {
                width: 100%;
                align-self: end;
            }
            
            &.isDesctop {
                max-width: vw(217px);
            }
        }

        &-title {
            font-family: $din;
            font-weight: 400;
            font-size: 18px;
            line-height: 120%;
            text-transform: uppercase;
            margin-bottom: 5px;
            grid-area: box-title;
            min-width: 0;

            &.isLaptop {
                font-size: 20px;
                padding-top: 29px;
            }

            &.isDesctop {
                font-size: vw(20px);
                margin-bottom: vw(10px);
                padding-top: vw(29px);
            }
        }

        &-subtitle {
            font-family: $century;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;
            margin-bottom: 35px;
            grid-area: box-subtitle;

            &.isLaptop {
                font-size: 16px;
                margin-bottom: 20px;
            }
            
            &.isDesctop {
                font-size: vw(16px);
                margin-bottom: auto;
            }
        }

        &-dish {
            min-width: 0;
            display: none;
        
            &.isLaptop,
            &.isDesctop {
                display: inline-flex;
                grid-area: box-dish;
            }

            &.isLaptop {
                width: 60%;
            }

            &.isDesctop {
                width: 100%;
            }
        }
    }
}