mixin logo(href="#", src="img/logo/1.svg", alt="")
    .logo(:class='{isDesctop, isTablet, isLaptop}')&attributes(attributes)
        a(href=href).logo__link
            img.logo__img(src=src, alt=alt)

