section.section.how-to-switch(style={'background-image': 'url(img/section/4.png)'}, :class='{isDesctop, isTablet, isLaptop}')
    img.how-to-switch__decor(src="img/how-to-switch/1.png", alt="", :class='{isDesctop, isTablet, isLaptop}')
    .how-to-switch__content(:class='{isDesctop, isTablet, isLaptop}')
        h2.title.how-to-switch__title(:class='{isDesctop, isTablet, isLaptop}') Как перейти на этот корм
        .how-to-switch__list(:class='{isDesctop, isTablet, isLaptop}')
            each step in stepsHowToSwitch
                +step-block('0'+step.id, step.text).how-to-switch__step