.how-to-switch {
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;

    &.isLaptop {
        padding-top: 150px;
    }

    &.isDesctop {
        padding-top: vw(150px);
    }

    &__decor {
        position: absolute;
        left: -80px;
        bottom: -70px;
        max-width: 200px;

        &.isLaptop {
            left: 0;
            // max-width: 500px;
            bottom: -210px;
        }

        &.isDesctop {
            max-width: unset;
            display: block;
            left: 0;
            transform: scale(0.8);
            transform-origin: left bottom;
            bottom: vw(-450px);
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 40px;
        padding-right: 40px;
        margin-left: auto;
        margin-right: auto;

        &.isLaptop {
            max-width: 1435px;
        }

        &.isDesctop {
            max-width: vw(1435px);
            padding-left: vw(40px);
            padding-right: vw(40px);
        }
    }

    &__title {
        margin-bottom: 12px;

        &.isLaptop {
            margin-bottom: 100px;
        }

        &.isDesctop {
            margin-bottom: vw(100px);
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 100%;

        &.isLaptop,
        &.isDesctop {
            flex-direction: row;
        }
    }

    &__step {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }

        &.isLaptop,
        &.isDesctop {
            max-width: unset;
            flex-grow: 1;
            flex-basis: 0;
            margin-bottom: 0;
        }
    }
}