-
    const arrayPhilosophySlider = [
        {
            id: 1, 
            title: 'Наша философия', 
            description: 'Господа, социально-экономическое развитие не оставляет шанса для новых предложений. Идейные соображения высшего порядка, а также современная методология разработки играет важную роль в формировании поставленных обществом задач. В рамках спецификации современных стандартов, элементы политического процесса, превозмогая сложившуюся непростую экономическую ситуацию, объединены в целые кластеры себе подобных.', 
            img: 'https://leolucy.fvds.ru/upload/iblock/b9e/wym3ujzomuaxxb0sba3kzxnv26rqiy0f.jpeg'
        },
        {
            id: 2, 
            title: 'Наша философия', 
            description: 'Господа, социально-экономическое развитие не оставляет шанса для новых предложений. Идейные соображения высшего порядка, а также современная методология разработки играет важную роль в формировании поставленных обществом задач. В рамках спецификации современных стандартов, элементы политического процесса, превозмогая сложившуюся непростую экономическую ситуацию, объединены в целые кластеры себе подобных.', 
            img: 'https://leolucy.fvds.ru/upload/iblock/163/6wdn0ma3i12100uvxgv3v55mt0dkxe2w.jpeg'
        },
        {
            id: 3, 
            title: 'Наша философия', 
            description: 'Господа, социально-экономическое развитие не оставляет шанса для новых предложений. Идейные соображения высшего порядка, а также современная методология разработки играет важную роль в формировании поставленных обществом задач. В рамках спецификации современных стандартов, элементы политического процесса, превозмогая сложившуюся непростую экономическую ситуацию, объединены в целые кластеры себе подобных.', 
            img: 'https://leolucy.fvds.ru/upload/iblock/bff/68r0cu5lccark77idoc8e0o0goq4jf9p.png'
        },
    ]

-
    const arrayIngredientsSlides = [
        {
            id: 1,
            title: 'Хилистик',
            description: 'Господа, социально-экономическое развитие не оставляет шанса для новых предложений. Идейные соображения высшего порядка, а также современная методология разработки играет важную роль в формировании поставленных обществом задач. В рамках спецификации современных стандартов, элементы политического процесса, превозмогая сложившуюся непростую экономическую ситуацию, объединены в целые кластеры себе подобных.',
            img: 'img/ingredients/slide1/1.png',
            decoration: [
                'img/ingredients/slide1/2.png',
                'img/ingredients/slide1/3.png',
                'img/ingredients/slide1/4.png',
                'img/ingredients/slide1/5.png',
                'img/ingredients/slide1/6.png',
            ]
        },
        {
            id: 2,
            title: 'Хилистик 1',
            description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, voluptas. Ab culpa perspiciatis assumenda, quia neque similique? Quia, recusandae consectetur tempora iure rerum maxime laborum! Sit quae harum itaque similique.',
            img: 'img/ingredients/slide1/1.png',
            decoration: [
                'img/ingredients/slide1/3.png',
                'img/ingredients/slide1/2.png',
                'img/ingredients/slide1/5.png',
                'img/ingredients/slide1/4.png',
                'img/ingredients/slide1/3.png',
            ]
        },
        {
            id: 3,
            title: 'Хилистик 3',
            description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, assumenda inventore? Qui laboriosam totam voluptate nulla fuga, recusandae nesciunt numquam saepe quaerat? Temporibus, nulla minus!',
            img: 'img/ingredients/slide1/1.png',
            decoration: [
                'img/ingredients/slide1/2.png',
                'img/ingredients/slide1/3.png',
                'img/ingredients/slide1/4.png',
                'img/ingredients/slide1/5.png',
                'img/ingredients/slide1/6.png',
            ]
        },
    ]

-
    const arrayFeedSelectionSlides = [
        {
            id: 1,
            img: 'img/feed-selection/1.png',
            description: 'Premium By Nature консервы с говядиной и сердцем'
        },
        {
            id: 2,
            img: 'img/feed-selection/1.png',
            description: 'Premium By Nature консервы с говядиной и сердцем'
        },
        {
            id: 3,
            img: 'img/feed-selection/1.png',
            description: 'Premium By Nature консервы с говядиной и сердцем'
        },
        {
            id: 4,
            img: 'img/feed-selection/1.png',
            description: 'Premium By Nature консервы с говядиной и сердцем'
        },
        {
            id: 5,
            img: 'img/feed-selection/1.png',
            description: 'Premium By Nature консервы с говядиной и сердцем'
        },
        {
            id: 6,
            img: 'img/feed-selection/1.png',
            description: 'Premium By Nature консервы с говядиной и сердцем'
        },
        {
            id: 7,
            img: 'img/feed-selection/1.png',
            description: 'Premium By Nature консервы с говядиной и сердцем'
        },
        {
            id: 8,
            img: 'img/feed-selection/1.png',
            description: 'Premium By Nature консервы с говядиной и сердцем'
        },
        {
            id: 9,
            img: 'img/feed-selection/1.png',
            description: 'Premium By Nature консервы с говядиной и сердцем'
        },
        {
            id: 10,
            img: 'img/feed-selection/1.png',
            description: 'Premium By Nature консервы с говядиной и сердцем'
        },
        {
            id: 11,
            img: 'img/feed-selection/1.png',
            description: 'Premium By Nature консервы с говядиной и сердцем'
        },
        {
            id: 12,
            img: 'img/feed-selection/1.png',
            description: 'Premium By Nature консервы с говядиной и сердцем'
        },
        {
            id: 13,
            img: 'img/feed-selection/1.png',
            description: 'Premium By Nature консервы с говядиной и сердцем'
        },
        {
            id: 14,
            img: 'img/feed-selection/1.png',
            description: 'Premium By Nature консервы с говядиной и сердцем'
        },
    ]

-
    const arrayWhereBuySlides = [
        [{
            id: 1,
            img: 'img/where-to-buy-slider/1.png'
        },
        {
            id: 2,
            img: 'img/where-to-buy-slider/2.png'
        }],
        [{
            id: 3,
            img: 'img/where-to-buy-slider/2.png'
        },
        {
            id: 4,
            img: 'img/where-to-buy-slider/1.png'
        }],
        [{
            id: 5,
            img: 'img/where-to-buy-slider/1.png'
        },
        {
            id: 6,
            img: 'img/where-to-buy-slider/2.png'
        }],
        [{
            id: 7,
            img: 'img/where-to-buy-slider/2.png'
        },
        {
            id: 8,
            img: 'img/where-to-buy-slider/1.png'
        }],
        [{
            id: 9,
            img: 'img/where-to-buy-slider/1.png'
        },
        {
            id: 10,
            img: 'img/where-to-buy-slider/2.png'
        }],
        [{
            id: 11,
            img: 'img/where-to-buy-slider/2.png'
        },
        {
            id: 12,
            img: 'img/where-to-buy-slider/1.png'
        }],
        [{
            id: 13,
            img: 'img/where-to-buy-slider/1.png'
        },
        {
            id: 14,
            img: 'img/where-to-buy-slider/2.png'
        }],
        [{
            id: 15,
            img: 'img/where-to-buy-slider/2.png'
        },
        {
            id: 16,
            img: 'https://i.picsum.photos/id/805/600/600.jpg?hmac=HHttHmXVsB7dhFuTQT7UCSMXMHNUGnTqZG0KnNvVyjY'
        }],
    ]

-
    const arrayOurArticles = [
        {
            id: 1,
            img: 'https://i.picsum.photos/id/452/600/600.jpg?hmac=5DZWKlOwFANqp0DdSQfgbEvo5MD0ex8m-BsIbH050-s',
            title: 'Умывание. Каприз или природный инстинкт?'
        },
        {
            id: 2,
            img: 'https://i.picsum.photos/id/841/600/600.jpg?hmac=Avxv8kmo4rBHjKm808R2yzOhX6aZsEAHeH1f8RCOyow',
            title: 'Умывание. Каприз или природный инстинкт?'
        },
        {
            id: 3,
            img: 'https://i.picsum.photos/id/736/600/600.jpg?hmac=qqhoBYrcb9w6Z6eocu96RnK-G0OwLAvAbgV8lHGM5us',
            title: 'Умывание. Каприз или природный инстинкт?'
        },
        {
            id: 4,
            img: 'https://i.picsum.photos/id/682/600/600.jpg?hmac=tDq-ylRy-BQ25NkwLSB__uQ3QoYGkZcJZk0aMJOuWY0',
            title: 'Умывание. Каприз или природный инстинкт?'
        },
        {
            id: 5,
            img: 'https://i.picsum.photos/id/396/600/600.jpg?hmac=VsBnz3iEeiLhu2qQet2m8cthZvumtgNrgqt9F-yeRg0',
            title: 'Умывание. Каприз или природный инстинкт?'
        },
        {
            id: 6,
            img: 'https://i.picsum.photos/id/85/600/600.jpg?hmac=6B-TXxIC1d3EwIFE8Lzjda4dvacvKaSDcJ1WmYIZltA',
            title: 'Умывание. Каприз или природный инстинкт?'
        },
    ]

- 
    const arrayQuestions = [
        {
            id: 1,
            title: 'В своём стремлении улучшить пользовательский опыт мы упускаем, что диаграммы связей представляют собой не что иное.',
            description: 'Господа, социально-экономическое развитие не оставляет шанса для новых предложений. Идейные соображения высшего порядка, а также современная методология разработки играет важную роль в формировании поставленных обществом задач.'
        },
        {
            id: 2,
            title: 'В своём стремлении улучшить пользовательский опыт мы упускаем, что диаграммы связей представляют собой не что иное.',
            description: 'Господа, социально-экономическое развитие не оставляет шанса для новых предложений. Идейные соображения высшего порядка, а также современная методология разработки играет важную роль в формировании поставленных обществом задач.'
        },
        {
            id: 3,
            title: 'В своём стремлении улучшить пользовательский опыт мы упускаем, что диаграммы связей представляют собой не что иное.',
            description: 'Господа, социально-экономическое развитие не оставляет шанса для новых предложений. Идейные соображения высшего порядка, а также современная методология разработки играет важную роль в формировании поставленных обществом задач.'
        },
        {
            id: 4,
            title: 'В своём стремлении улучшить пользовательский опыт мы упускаем, что диаграммы связей представляют собой не что иное.',
            description: 'Господа, социально-экономическое развитие не оставляет шанса для новых предложений. Идейные соображения высшего порядка, а также современная методология разработки играет важную роль в формировании поставленных обществом задач.'
        },
    ]

-
    const stepsHowToSwitch = [
        {
            id: 1,
            text: 'Наш корм самый вкусный и полезный Наш корм самый вкусный и полезный'
        },
        {
            id: 2,
            text: 'Наш корм самый вкусный и полезный Наш корм самый вкусный и полезный'
        },
        {
            id: 3,
            text: 'Наш корм самый вкусный и полезный Наш корм самый вкусный и полезный'
        },
        {
            id: 4,
            text: 'Наш корм самый вкусный и полезный Наш корм самый вкусный и полезный'
        },
    ]

-
    const whereToBuyModalsSlider = [
        {
            id: 1,
            img: 'https://i.picsum.photos/id/554/600/600.jpg?hmac=XUNg4E33h2op5iN4mYpGAu0vg3UEw9aU0vD40lSyL-o',
            title: 'Умывание. Каприз или природный инстинкт?',
            link: 'https://leolucy.fvds.ru/'
        },
        {
            id: 2,
            img: 'https://i.picsum.photos/id/889/600/600.jpg?hmac=zYL0e4kerdzG21RnFQzVjVZWhG-7OMiFVnw-x_pga60',
            title: 'Умывание. Каприз или природный инстинкт?',
            link: 'https://leolucy.fvds.ru/'
        },
        {
            id: 3,
            img: 'https://i.picsum.photos/id/122/600/600.jpg?hmac=1oA93YbjYVt96DcJcGQ5PLthzjUsdtrnBQaM0USBozI',
            title: 'Умывание. Каприз или природный инстинкт?',
            link: 'https://leolucy.fvds.ru/'
        },
        {
            id: 4,
            img: 'https://i.picsum.photos/id/584/600/600.jpg?hmac=Qpyi9POyox2VNvqaUUYkXDTN41TKwKLPF9-NhVS331s',
            title: 'Умывание. Каприз или природный инстинкт?',
            link: 'https://leolucy.fvds.ru/'
        },
        {
            id: 5,
            img: 'https://i.picsum.photos/id/236/600/600.jpg?hmac=myC_lz0SVSNInuZ6SX-c_l1uclqK6ua3Epf7idG2zbc',
            title: 'Умывание. Каприз или природный инстинкт?',
            link: 'https://leolucy.fvds.ru/'
        },
        {
            id: 6,
            img: 'https://i.picsum.photos/id/200/600/600.jpg?hmac=5vWrMNBeBRddgj3sQ0cVlgNer86pzuPajuJbhPodX_s',
            title: 'Умывание. Каприз или природный инстинкт?',
            link: 'https://leolucy.fvds.ru/'
        },
    ]