include ../components/container/container
include ../components/btn/btn
include ../components/s/s
include ../components/checkbox/checkbox
include ../components/quiz-radio/quiz-radio
include ../components/logo/logo
include ../components/section/section
include ../components/where-to-buy-slider/where-to-buy-slider
include ../components/input-slider/input-slider
include ../components/img-card/img-card
include ../components/step-block/step-block
include ../components/review-card/review-card
include ../components/filter-reviews/filter-reviews

mixin svg(name)
        svg(class="icon icon--" + name)&attributes(attributes)
            use(xlink:href="img/icons/icons.svg#" + name)