.filter-reviews {
    z-index: 2;
    $filter: &;

    &__top {
        display: flex;
        align-items: center;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    &__border-block {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, auto);
        

        &.isLaptop {
            padding: 15px 30px;
            border: 4px solid rgba($pesto, .3);
            border-radius: 10px;
            grid-gap: 60px;
        }

        &.isDesctop {
            padding: vw(15px) vw(30px);
            border: vw(4px) solid rgba($pesto, .3);
            border-radius: vw(10px);
            grid-gap: vw(60px);
        }

        #{$filter}__info-title {
            font-family: $din;
            font-weight: 400;
            font-size: 20px;
            line-height: 120%;
            margin-right: 20px;
            color: $white;
            white-space: nowrap;
            display: none;
        
            &.isLaptop {
                display: initial;
            }
        
            &.isDesctop {
                display: initial;
                font-size: vw(20px);
                margin-right: vw(20px);
            }
        }
    }

    &__col {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 0;

        &--first {
            justify-content: flex-start;
        }

        &--center, 
        &--right {
            display: none;

            &.isLaptop {
                display: flex;
            }
            
            &.isDesctop {
                display: flex;
            }
        }

        &--right {
            justify-content: flex-end;
        }
    }

    &__buttons {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    &__mobile-action {
        &.isLaptop, &.isDesctop {
            display: none;
        }
    }

    &__btn-transaprent {
        width: 48px;
        height: 48px;
        color: $pesto;
    }

    &__mobile-dropdown {
        position: absolute;
        top: 300%;
        left: 0;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: top $ease05, opacity $ease05, visibility $ease035;

        &-content {
            display: flex;
            flex-direction: column;
            background-color: $white;
            padding: 30px;
            border: 4px solid $pesto;
            box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
        }

        #{$filter}__info-title {
            font-family: $din;
            font-weight: 700;
            font-size: 20px;
            line-height: 120%;
            color: $black;
            margin-bottom: 20px;
        }

        &--is-open {
            top: calc(100% + 10px);
            visibility: visible;
            opacity: 1;
            pointer-events: auto;
        }
    }

    &__box-age {
        margin-bottom: 30px;
        overflow: hidden;

        &-content {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            margin: -5px -10px;

            > * {
                margin: 5px 10px;
            }
        }
    }

    &__box-feed {
        &-content {
            display: flex;
            flex-direction: column;

            >* {
                margin-bottom: 20px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    &__select-item {
        font-family: $century;
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        color: $black;
        cursor: pointer;

        &--active {
            font-weight: 700;
            pointer-events: none;
        }
    }

    &--black {
        #{$filter}__info-title,
        #{$filter}__btn,
        #{$filter}__select {
            color: $black;
        }
    }
}