extends ../layouts/default

block variables
    - const title = "Главная"
    - const bodyWhite = ""

block content
    include ../modules/first-screen/first-screen
    include ../modules/philosophy-slider/philosophy-slider
    include ../modules/ingredients/ingredients
    include ../modules/feed-selection/feed-selection
    include ../modules/calculator/calculator
    include ../modules/quiz/quiz
    include ../modules/how-to-switch/how-to-switch
    include ../modules/answers-to-questions/answers-to-questions
    include ../modules/reviews/reviews
    include ../modules/our-articles/our-articles
    include ../modules/where-to-buy/where-to-buy
    include ../modules/modals/feed-selection-modals
    include ../modules/modals/where-to-buy-modals
    include ../modules/modals/our-articles-modals
    include ../modules/modals/create-review-modals