extends ../layouts/default

block variables
    - const title = "Промо"
    - const bodyWhite = ""

block content
    include ../modules/first-screen2/first-screen
    include ../modules/philosophy-slider2/philosophy-slider