.header.app__header(class=(bodyWhite === "bg-white" ? "header--black" : "") :class='{isDesctop, isTablet, isLaptop, "header--black": header.isScroll, "header--scoll": header.isScroll}')
    .header__content 
        +btn.btn--burger.header__show-menu(@click="header.toggleMenu()" :class="{'btn--select': header.isShowMenu}")
            .btn__icon
                span.btn__icon-line.btn__icon-line--1 
                span.btn__icon-line.btn__icon-line--2 
                span.btn__icon-line.btn__icon-line--3 

        +logo.header__logo

        +s(["vk", "#"], ["telegram", "#"]).header__s

.header-panel(:class='{isDesctop, isTablet, isLaptop, "header-panel--is-open": header.isShowMenu}')
    .header-panel__content 
        ul.header-panel-menu
            li.header-panel-menu__item
                a.header-panel-menu__link(href="#link1", :class='{isDesctop, isTablet, isLaptop}' @click="header.hiddenMenu.apply(header)") Корма

            li.header-panel-menu__item
                a.header-panel-menu__link(href="#link2", :class='{isDesctop, isTablet, isLaptop}' @click="header.hiddenMenu.apply(header)") Ингредиенты

            li.header-panel-menu__item
                a.header-panel-menu__link(href="#link3", :class='{isDesctop, isTablet, isLaptop}' @click="header.hiddenMenu.apply(header)") FAQ

            li.header-panel-menu__item
                a.header-panel-menu__link(href="#link4", :class='{isDesctop, isTablet, isLaptop}' @click="header.hiddenMenu.apply(header)") Статьи

            li.header-panel-menu__item
                a.header-panel-menu__link(href="#link5", :class='{isDesctop, isTablet, isLaptop}' @click="header.hiddenMenu.apply(header)") Где купить
        
        +s(["vk", "#"], ["telegram", "#"]).header-panel__s
