.where-to-buy-slider {

    &__slide {
        height: auto;                                                                                                                                           

        &-content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            &.isLaptop,
            &.isDesctop {
                grid-template-columns: 1fr;
                grid-template-rows: repeat(2, auto);
            }
        }

        &-wrapper-img {
            min-width: 0;
            width: 100%;
            padding-bottom: 100%;
        }

        &-img {
            position: absolute;
            top: 50%;
            left: 50%;
            object-fit: cover;
            max-width: 100%;
            transform: translate(-50%, -50%);
        }
    }

    &__panel {
        display: flex;
        justify-content: space-between;
        pointer-events: none;
        width: 100%;
    
        &.isTablet,
        &.isLaptop {
            position: absolute;
            top: 50%;
            left: 50%;
            width: calc(100% - 33px);
            transform: translate(-50%, -50%);
            z-index: 2;
        }
    
        &.isDesctop {
            position: absolute;
            top: 50%;
            left: 50%;
            width: calc(100% - #{vw(33px)});
            transform: translate(-50%, -50%);
            z-index: 2;
        }
    }
    
    &__arrow {
        pointer-events: auto;
    }
    
    &__dots {
        display: flex;
        align-items: center;
        justify-content: center;
        top: -22.5px;
        max-width: calc(100% - 160px);
        margin-left: auto;
        margin-right: auto;
    
        &.isTablet,
        &.isLaptop {
            top: 0;
            max-width: 385px;
        }
    
        &.isDesctop {
            top: 0;
            max-width: vw(385px);
        }
    }
    
    &__dot {
        height: 4px;
        width: 20px;
        background-color: rgba($white, .2);
        flex-basis: 0;
        flex-grow: 1;
        transition: all $ease05;
        cursor: pointer;
    
        &--active {
            pointer-events: none;
            background-color: $pesto;
        }
    }
}