.modals.create-review-modals(@click.self="modals.hideModals('create-review-modals')")
    .modals__content.create-review-modals__content(:class='{isDesctop, isTablet, isLaptop}') 
        .modals__top.create-review-modals__top(:class='{isDesctop, isTablet, isLaptop}')  
            span.modals__title.create-review-modals__title(:class='{isDesctop, isTablet, isLaptop}')
                template(v-if="modals.createReviewModalsData.isSended") Спасибо за отзыв
                template(v-else) Напишите ваш отзыв
            +btn(null, 'close')(@click.stop="modals.hideModals('create-review-modals')").btn--transparent.modals__close
        form.modals__bottom.create-review-modals__bottom(:class='{isDesctop, isTablet, isLaptop}' enctype="multipart/form-data" action="" @submit.prevent="modals.newReview.apply(modals)" v-if="!modals.createReviewModalsData.isSended") 
            input(type="hidden" name="action" value="add")
            .filter-reviews.filter-reviews--black.create-review-modals__filter(:class='{isDesctop, isTablet, isLaptop}')&attributes(attributes)
                .filter-reviews__top(:class='{isDesctop, isTablet, isLaptop}')
                    .filter-reviews__border-block(:class='{isDesctop, isTablet, isLaptop}')
                        .filter-reviews__col.filter-reviews__col--first(:class='{isDesctop, isTablet, isLaptop}')
                            span.filter-reviews__info-title(:class='{isDesctop, isTablet, isLaptop}') Питомец:
                            .filter-reviews__buttons 
                                label.btn.btn--gold-border-rounded.btn--small.filter-reviews__btn(:class='{isSelected : modals.selectedPet === "dog"}') Собаке
                                    input(type="radio" value="dog" name="pet" v-model="modals.selectedPet")
                                label.btn.btn--gold-border-rounded.btn--small.filter-reviews__btn(:class='{isSelected : modals.selectedPet === "cat"}') Кошке
                                    input(type="radio" value="cat" name="pet" v-model="modals.selectedPet")
                                //- +btn("Кошке").btn--gold-border-rounded.btn--small.filter-reviews__btn

                        .filter-reviews__col.filter-reviews__col--center(:class='{isDesctop, isTablet, isLaptop}')
                            span.filter-reviews__info-title(:class='{isDesctop, isTablet, isLaptop}') Возраст:
                            app-select(:items="filterReviews.listAge" :name="`age`" @on-select="filterReviews.onSelectAge.apply(filterReviews, [$event])").filter-reviews__select


                        .filter-reviews__col.filter-reviews__col--right(:class='{isDesctop, isTablet, isLaptop}')
                            span.filter-reviews__info-title(:class='{isDesctop, isTablet, isLaptop}') Вид корма:
                            app-select(:items="filterReviews.listFeed" :name="`form`" @on-select="filterReviews.onSelectFeed.apply(filterReviews, [$event])").filter-reviews__select
                        
                    .filter-reviews__mobile-action(:class='{isDesctop, isTablet, isLaptop}')
                        +btn(null, "filter")(v-if="!filterReviews.isShowMobileDropdown" @click="filterReviews.toggleMobileDropdown()").btn--transparent.filter-reviews__btn-transaprent
                        +btn(null, "close")(v-if="filterReviews.isShowMobileDropdown" @click="filterReviews.toggleMobileDropdown()").btn--transparent.filter-reviews__btn-transaprent
                
                .filter-reviews__mobile-dropdown(:class="{'filter-reviews__mobile-dropdown--is-open': filterReviews.isShowMobileDropdown}")
                    .filter-reviews__mobile-dropdown-content
                        span.filter-reviews__info-title Возраст:
                        .filter-reviews__box-age
                            .filter-reviews__box-age-content
                                span.filter-reviews__select-item(v-for="(item, index) in filterReviews.listAge" :key="item.id ? item.id : index" @click="filterReviews.onSelectAge(item)" :class="{'filter-reviews__select-item--active': item.select ? item.select : false}") {{ item.title }}
                        
                        span.filter-reviews__info-title Вид корма:
                        .filter-reviews__box-feed 
                            .filter-reviews__box-feed-content
                                span.filter-reviews__select-item(v-for="(item, index) in filterReviews.listFeed" :key="item.id ? item.id : index" @click="filterReviews.onSelectFeed(item)" :class="{'filter-reviews__select-item--active': item.select ? item.select : false}") {{ item.title }}

            .create-review-modals__form
                .create-review-modals__row(:class='{isDesctop, isTablet, isLaptop}')
                    .create-review-modals__row-hidden(:class='{isDesctop, isTablet, isLaptop}')
                        .create-review-modals__box(:class='{isDesctop, isTablet, isLaptop}') 
                            label.create-review-modals__label(:class='{isDesctop, isTablet, isLaptop}', for="name") Представьтесь:
                            input.create-review-modals__input(:class='{isDesctop, isTablet, isLaptop}', type="text", name="name", placeholder="Ваше имя" required)
                        .create-review-modals__box(:class='{isDesctop, isTablet, isLaptop}') 
                            label.create-review-modals__label(:class='{isDesctop, isTablet, isLaptop}', for="city") Город:
                            input.create-review-modals__input(:class='{isDesctop, isTablet, isLaptop}', type="text", name="city", placeholder="Ваш город" required)
                        .create-review-modals__box.create-review-modals__box--small(:class='{isDesctop, isTablet, isLaptop}') 
                            .create-review-modals__wrapper-img(id="create-review-modals__dropzone", :class='[{isDesctop, isTablet, isLaptop}, !modals.createReviewModalsData.photo.status ? "animate__animated animate__headShake": "" ]')
                                input(type="file" name="photo" style="display: none;")
                                img.create-review-modals__img(:src="modals.createReviewModalsData.photo.url", v-if="modals.createReviewModalsData.photo.url" alt="")
                .create-review-modals__row(:class='{isDesctop, isTablet, isLaptop}') 
                    .create-review-modals__box.create-review-modals__box--no-margin(:class='{isDesctop, isTablet, isLaptop}') 
                        label.create-review-modals__label(:class='{isDesctop, isTablet, isLaptop}', for="message") Ваш отзыв:
                        textarea.create-review-modals__textarea(:class='{isDesctop, isTablet, isLaptop}', id="message", name="comment", cols="30", rows="10", placeholder="Напишите ваш отзыв" required) 

                +btn("Отправить").btn--gold-border-rounded.btn--black-text.create-review-modals__btn.new-review-btn