include ../utils/mixins
block variables

doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title #{title}
  link(rel='stylesheet' href='css/style.css')
  
  include ../data

body
  #app.wrapper(:class='[{isDesctop, isTablet, isLaptop}, isMounted]', :style="isMounted ? '' : 'display: none'")
      include ../modules/header/header
      main.main(:class='{isDesctop, isTablet, isLaptop}')
          block content
      include ../modules/footer/footer
script(src='js/app.min.js')