include ../utils/mixins
block variables

doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title #{title}
  link(rel='stylesheet' href='css/style.css')
body
  #app.wrapper(:class='{isDesctop, isTablet, isLaptop}')
      include ../modules/header/header
      main.main
          block content
      include ../modules/footer/footer
script(src='js/app.min.js')