include ../utils/mixins
block variables

doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title #{title}
  link(rel='stylesheet' href='css/style.css')
  
  include ../data

body(class=bodyWhite)
  #app.app.wrapper(:class='[{isDesctop, isTablet, isLaptop}, isMounted]', :style="isMounted ? '' : 'display: none'")
      include ../components/preloader/preloader
      include ../modules/header/header
      main.main.app__main(:class='{isDesctop, isTablet, isLaptop}')
          block content
      include ../modules/footer/footer
script(src='js/app.min.js')
script.
    app.reviews.arrayReviews = [
                {
            id: "6",
            animal: "Собаке",
            age: "1-5",
            food: "Влажный",
            photo: "/upload/iblock/f79/wtif0ayid5krs71429jwbsna7ah8jz97.jpg",
            name: "Test",
            city: "Москва",
            text: "fkjsdkf h sdkfjberjkc vc kcj,xnbgk j dhfxh sdkfhsdkjfhs dfhgsdjfgsj dhgfsydgfj sdhgf jysdgfjhsgfjydsgfsdg fshdg f sgfsdgfs dgfsdfgsdfg"
        },
        {
            id: "6",
            animal: "Собаке",
            age: "1-5",
            food: "Влажный",
            photo: "/upload/iblock/f79/wtif0ayid5krs71429jwbsna7ah8jz97.jpg",
            name: "Test",
            city: "Москва",
            text: "fkjsdkf h sdkfjberjkc vc kcj,xnbgk j dhfxh sdkfhsdkjfhs dfhgsdjfgsj dhgfsydgfj sdhgf jysdgfjhsgfjydsgfsdg fshdg f sgfsdgfs dgfsdfgsdfg"
        },
        {
            id: "6",
            animal: "Собаке",
            age: "1-5",
            food: "Влажный",
            photo: "/upload/iblock/f79/wtif0ayid5krs71429jwbsna7ah8jz97.jpg",
            name: "Test",
            city: "Москва",
            text: "fkjsdkf h sdkfjberjkc vc kcj,xnbgk j dhfxh sdkfhsdkjfhs dfhgsdjfgsj dhgfsydgfj sdhgf jysdgfjhsgfjydsgfsdg fshdg f sgfsdgfs dgfsdfgsdfg"
        },
        {
            id: "6",
            animal: "Собаке",
            age: "1-5",
            food: "Влажный",
            photo: "/upload/iblock/f79/wtif0ayid5krs71429jwbsna7ah8jz97.jpg",
            name: "Test",
            city: "Москва",
            text: "fkjsdkf h sdkfjberjkc vc kcj,xnbgk j dhfxh sdkfhsdkjfhs dfhgsdjfgsj dhgfsydgfj sdhgf jysdgfjhsgfjydsgfsdg fshdg f sgfsdgfs dgfsdfgsdfg"
        },
    ]