//section.b-lazy.first-screen(style={'background-image': 'url(img/section/1.png)'})
section.b-lazy.first-screen(data-src='img/section/1.png')
    .first-screen__content(:class='{isDesctop, isTablet, isLaptop}')
        .first-screen__left 
            .first-screen__select(@click="onSelectMainAnimal('dog')" v-show="firstScreen.randomGroup === 1", :class="{'first-screen__select--active': mainSelectAnimal === 'dog'}")
                img.b-lazy.first-screen__animal-food.first-screen__animal-food--left(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", data-src="img/first-screen/group-1/1-2.png", alt="", :class='{isDesctop, isTablet, isLaptop}')
                img.b-lazy.first-screen__animal.first-screen__animal--hidden(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", data-src="img/first-screen/group-1/1.png", alt="")
                img.b-lazy.first-screen__animal.first-screen__animal--left(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", data-src="img/first-screen/group-1/1.png", alt="")
            .first-screen__select(@click="onSelectMainAnimal('dog')" v-show="firstScreen.randomGroup === 2", :class="{'first-screen__select--active': mainSelectAnimal === 'dog'}")
                img.b-lazy.first-screen__animal-food.first-screen__animal-food--left(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", data-src="img/first-screen/group-2/1-1.png", alt="", :class='{isDesctop, isTablet, isLaptop}')
                img.b-lazy.first-screen__animal.first-screen__animal--hidden(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", data-src="img/first-screen/group-2/1.png", alt="")
                img.b-lazy.first-screen__animal.first-screen__animal--left(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", data-src="img/first-screen/group-2/1.png", alt="")
            .first-screen__select(@click="onSelectMainAnimal('dog')" v-show="firstScreen.randomGroup === 3", :class="{'first-screen__select--active': mainSelectAnimal === 'dog'}")
                img.b-lazy.first-screen__animal-food.first-screen__animal-food--left(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", data-src="img/first-screen/group-3/1-1.png", alt="", :class='{isDesctop, isTablet, isLaptop}')
                img.b-lazy.first-screen__animal.first-screen__animal--hidden(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", data-src="img/first-screen/group-3/1.png", alt="")
                img.b-lazy.first-screen__animal.first-screen__animal--left(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", data-src="img/first-screen/group-3/1.png", alt="")
        .first-screen__center
            .swiper.first-screen-slider.first-screen__slider
                .swiper-wrapper.first-screen-slider__swiper-wrapper
                    .swiper-slide.first-screen-slider__slide
                        .first-screen-slider__slide-content
                            h1.title.first-screen__title(:class='{isDesctop, isTablet, isLaptop}') Полнорационное сбалансированное питание для кошек и собак
                            span.subtitle.first-screen__subtitle(:class='{isDesctop, isTablet, isLaptop}') Выберите питомца для которого подбираете корм
                            +btn("подобрать")(@click="onScrollToBlock").btn--gold-border-rounded.first-screen__btn
                    .swiper-slide.first-screen-slider__slide
                        .first-screen-slider__slide-content
                            h1.title.first-screen__title(:class='{isDesctop, isTablet, isLaptop}') Полнорационное сбалансированное питание для кошек и собак 2
                            span.subtitle.first-screen__subtitle(:class='{isDesctop, isTablet, isLaptop}') Выберите питомца для которого подбираете корм
                    .swiper-slide.first-screen-slider__slide
                        .first-screen-slider__slide-content
                            h1.title.first-screen__title(:class='{isDesctop, isTablet, isLaptop}') Полнорационное сбалансированное питание для кошек и собак 3
                            +btn("подобрать 2")(href="#").btn--gold-border-rounded.first-screen__btn
        .first-screen__right 
            .first-screen__select(@click="onSelectMainAnimal('cat')" v-show="firstScreen.randomGroup === 1", :class="{'first-screen__select--active': mainSelectAnimal === 'cat'}")
                img.b-lazy.first-screen__animal-food.first-screen__animal-food--right(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", data-src="img/first-screen/group-1/2-2.png", alt="", :class='{isDesctop, isTablet, isLaptop}')
                img.b-lazy.first-screen__animal.first-screen__animal--hidden(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", data-src="img/first-screen/group-1/2.png", alt="")
                img.b-lazy.first-screen__animal.first-screen__animal--right(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", data-src="img/first-screen/group-1/2.png", alt="")
            .first-screen__select(@click="onSelectMainAnimal('cat')" v-show="firstScreen.randomGroup === 2", :class="{'first-screen__select--active': mainSelectAnimal === 'cat'}")
                img.b-lazy.first-screen__animal-food.first-screen__animal-food--right(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", data-src="img/first-screen/group-2/2-2.png", alt="", :class='{isDesctop, isTablet, isLaptop}')
                img.b-lazy.first-screen__animal.first-screen__animal--hidden(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", data-src="img/first-screen/group-2/2.png", alt="")
                img.b-lazy.first-screen__animal.first-screen__animal--right(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", data-src="img/first-screen/group-2/2.png", alt="")
            .first-screen__select(@click="onSelectMainAnimal('cat')" v-show="firstScreen.randomGroup === 3", :class="{'first-screen__select--active': mainSelectAnimal === 'cat'}")
                img.b-lazy.first-screen__animal-food.first-screen__animal-food--right(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", data-src="img/first-screen/group-3/2-2.png", alt="", :class='{isDesctop, isTablet, isLaptop}')
                img.b-lazy.first-screen__animal.first-screen__animal--hidden(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", data-src="img/first-screen/group-3/2.png", alt="")
                img.b-lazy.first-screen__animal.first-screen__animal--right(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", data-src="img/first-screen/group-3/2.png", alt="")