.subtitle {
    font-family: $din;
    font-size: 16px;
    font-weight: 400;
    color: $alabaster;
    line-height: 120%;
    text-transform: uppercase;

    &.isLaptop {
        font-size: 20px;
    }

    &.isDesctop {
        font-size: vw(20);
    }
}