section.section.reviews(style={'background-image': 'url(img/section/5.png)'}, :class='{isDesctop, isTablet, isLaptop}')
    img.reviews__decor.reviews__decor--bottom(src="img/reviews/1.png", alt="", :class='{isDesctop, isTablet, isLaptop}')
    img.reviews__decor.reviews__decor--top(src="img/reviews/2.png", alt="", :class='{isDesctop, isTablet, isLaptop}')
    +container
        .reviews__content 
            h2.title.reviews__title(:class='{isDesctop, isTablet, isLaptop}') Отзывы
            +filter-reviews.reviews__filter
            .reviews__slider(:class='{isDesctop, isTablet, isLaptop}') 
                .swiper.reviews__swiper(v-if="filterReviews.filteredList.length") 
                    .swiper-wrapper.reviews__swiper-wrapper(:class='{isDesctop, isTablet, isLaptop}')  
                        .swiper-slide.review-card(v-for="review in filterReviews.filteredList", :key="review.id")
                            .review-card__content 
                                .review-card__top(:class='{isDesctop, isTablet, isLaptop}') 
                                    .review-card__wrapper-img(:class='{isDesctop, isTablet, isLaptop}')  
                                        img.review-card__img(:src="review.photo", alt="")
                                    .review-card__col 
                                        span.review-card__name(:class='{isDesctop, isTablet, isLaptop}') {{review.name}}
                                        span.review-card__city(:class='{isDesctop, isTablet, isLaptop}') {{review.city}}
                                
                                .review-card__bottom 
                                    p.review-card__text(:class='{isDesctop, isTablet, isLaptop}') {{review.text}}
                
                    .reviews__dots(:class='{isDesctop, isTablet, isLaptop}')

                .reviews__panel(:class='{isDesctop, isTablet, isLaptop}', v-if="filterReviews.filteredList.length")
                    +btn(null, 'triangle-arrow-left').btn--gold-border-mine-shaft-fill-circle.reviews__arrow.reviews__arrow--prev
                    +btn(null, 'triangle-arrow-right').btn--gold-border-mine-shaft-fill-circle.reviews__arrow.reviews__arrow--next
                
                span.reviews__no(:class='{isDesctop, isTablet, isLaptop}', v-else) Ксожалению ничего не найдено

            +btn("Написать отзыв")(@click="modals.showModals('create-review-modals')").btn.btn--gold-border-rounded.reviews__btn