@font-face {
	font-family: "CormorantUpright";
	font-display: swap;
	src: url("../fonts/CormorantUpright-Medium.woff2") format("woff2"), url("../fonts/CormorantUpright-Medium.woff") format("woff"), url("../fonts/CormorantUpright-Medium.ttf") format("ttf");
	font-weight: 500;
}
