.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    outline: none;

    > * {
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }

    &--burger {

    }

    &--gold-fill-circle {

    }

    &--gold-border-rounded {

    }

    &--gold-border-while-fill-circle {

    }

    &--gold-border-black-fill-circle {

    }
}