+section.reg_block
    +container#promo-form-container
        .reg_block__title регистрация
        form#promo-form.reg_block__form
            .input.reg_block__input(:class='{isDesctop, isTablet, isLaptop}')
                span.input__info
                .input__box
                    input.input__field(type="text", name="fio", placeholder="ФИО", @focus="activeInput($event.target)")
                    .input__icons
                        img.input__icon.input__icon--error(src="/img/icons/error.png")
            
            .input.reg_block__input(:class='{isDesctop, isTablet, isLaptop}')
                span.input__info
                .input__box 
                    input.input__field(type="email", name="email" placeholder="E-mail", @focus="activeInput($event.target)")
                    .input__icons
                        img.input__icon.input__icon--error(src="/img/icons/error.png")
            
            .input.reg_block__input(:class='{isDesctop, isTablet, isLaptop}')
                span.input__info
                .input__box 
                    input.input__field(type="tel", name="phone", placeholder="Номер телефона", @focus="activeInput($event.target)")
                    .input__icons
                        img.input__icon.input__icon--error(src="/img/icons/error.png")
            
            .input.reg_block__input(:class='{isDesctop, isTablet, isLaptop}')
                span.input__info
                .input__box 
                    input.input__field(type="text", name="city", placeholder="Город", @focus="activeInput($event.target)")
                    .input__icons
                        img.input__icon.input__icon--error(src="/img/icons/error.png")

            .input.reg_block__input(:class='{isDesctop, isTablet, isLaptop}')
                span.input__info
                .input__box 
                    input.input__field(type="text", name="work", placeholder="Род деятельности", @focus="activeInput($event.target)")
                    .input__icons
                        img.input__icon.input__icon--error(src="/img/icons/error.png")

            button.btn.btn--gold-border-rounded(type="submit" @click.prevent="sendPromoForm") 
                span.btn__text Зарегистрироваться
        .promo-success(:class='{isDesctop, isTablet, isLaptop}')
            h2.promo-success__title(:class='{isDesctop, isTablet, isLaptop}') спасибо <br>за регистрацию
            p.promo-success__text(:class='{isDesctop, isTablet, isLaptop}') Информационные материалы отправлены Вам на электронную почту<br><br>Хорошего дня!
+section.section--white.philosophy-slider.new_block
    .philosophy-slider__title презентации
    .philosophy-slider__tit маркетинговая
    a.philosophy-slider__link(href="#") Скачать pdf
    +container
        .swiper.philosophy-slider__swiper.philosophy-slider__swiper--first
            .swiper-wrapper.philosophy-slider__swiper-wrapper(:class='{isDesctop, isTablet, isLaptop}')
                each item in arrayPhilosophySlider
                    .swiper-slide.philosophy-slider__slide 
                        .philosophy-slider__slide-content(:class='{isDesctop, isTablet, isLaptop}')
                            img.philosophy-slider__slide-img(src=item.img, alt="")
        .philosophy-slider__panel(:class='{isDesctop, isTablet, isLaptop}')
            +btn(null, 'triangle-arrow-left').btn--gold-border-while-fill-circle.philosophy-slider__arrow.philosophy-slider__arrow--prev.first-slider__btn
            +btn(null, 'triangle-arrow-right').btn--gold-border-while-fill-circle.philosophy-slider__arrow.philosophy-slider__arrow--next.first-slider__btn
        .philosophy-slider__dots(:class='{isDesctop, isTablet, isLaptop}').first-slider__dots
+section.section--white.philosophy-slider.new_block
    .philosophy-slider__tit продуктовая
    a.philosophy-slider__link(href="#") Скачать pdf
    +container
        .swiper.philosophy-slider__swiper.philosophy-slider__swiper--second
            .swiper-wrapper.philosophy-slider__swiper-wrapper(:class='{isDesctop, isTablet, isLaptop}')
                each item in arrayPhilosophySlider
                    .swiper-slide.philosophy-slider__slide 
                        .philosophy-slider__slide-content(:class='{isDesctop, isTablet, isLaptop}')
                            img.philosophy-slider__slide-img(src=item.img, alt="")
        .philosophy-slider__panel(:class='{isDesctop, isTablet, isLaptop}')
            +btn(null, 'triangle-arrow-left').btn--gold-border-while-fill-circle.philosophy-slider__arrow.philosophy-slider__arrow--prev.second-slider__btn
            +btn(null, 'triangle-arrow-right').btn--gold-border-while-fill-circle.philosophy-slider__arrow.philosophy-slider__arrow--next.second-slider__btn
        .philosophy-slider__dots(:class='{isDesctop, isTablet, isLaptop}').second-slider__dots

